page-login {
    
     .login-content {
       background: #ffffff;
    
       .logo-row {
         padding-top: 50px;
         padding-bottom: 20px;
       }

       .logo{
        width: 150px;
        height: 140px;
      }
    
       ion-row {
          align-items: center;
          text-align: center;
        }
    
        ion-item {
            padding-left: 10px !important;
            font-size: 1.0em;
            margin-bottom: 20px;
            border: 1px solid #007aa5;
            border-radius: 10px !important;
            box-shadow: none !important;
        }
    
        .signup-col {
          margin: 0px 16px 0px 16px;
          padding-bottom: 20px;
        }
    
        .item-inner {
          border-bottom-color: #ffffff !important;
          box-shadow: none !important;
        }
    
        .submit-btn {
          background: #007aa5;
          border-radius: 30px !important;
          border: 1px solid #ffffff;
          padding: 10px;
        }
    
        .register-btn {
          color: #ffffff;
          font-size: 0.8em;
        }
     };

   }