<ion-content class="login-content" padding>
    <!--<div style="width: 100%; text-align:right;">
    <button ion-button icon-only  item-right (click)="presentUrlConfigModal()">
        <ion-icon name="ios-settings"></ion-icon>
      </button>
      </div>-->
  <ion-row class="logo-row">
    <ion-col width-67>
      <img class="logo" src="./assets/imgs/logo.png"/>
    </ion-col>
  </ion-row>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
            <ion-item>
              <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
          
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login</button>
        </ion-col>
      </ion-row>
      
    </form>
</ion-content>