<!--
  Generated template for the PlayBackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PlayBack</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #track id="playBack"></div>
</ion-content>
