<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Map" tabIcon="ios-map"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Devices" tabIcon="ios-list"></ion-tab>
  <!--<ion-tab [root]="tab3Root" tabTitle="Report" tabIcon="md-analytics"></ion-tab>-->
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="ios-contact"></ion-tab>
</ion-tabs>
