<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
        <ion-title>Profile</ion-title>
    </ion-navbar>
  </ion-header>
  <!--<div id="profile-bg" [ngStyle]="{'background-image': 'url(' + user.coverImage +')'}"></div>-->
  <div id="content" >
    <div id="profile-info" padding>
      <img id="profile-image" src="./assets/imgs/user.png">
      <h3 id="profile-name">{{username}}</h3>
    </div>
    <hr/>
    <ion-row class="profile-numbers">
      <ion-col col-4>
        <p>Total Device</p>
        <span>{{total}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Active</p>
        <span  style="color:green">{{active}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Inactive</p>
        <span  style="color:red">{{inactive}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" (click)="logout()">Logout</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>