<ion-content>
  <div #map id="map">
      <div class="traffic-buttons">
          <button (click)="trafficLayer(false)">
              <img *ngIf="traffic"  id="traffic" src="./assets/imgs/traffic_on.png">
          </button>
      </div>
      <div class="traffic-buttons">
          <button (click)="trafficLayer(true)">
              <img  *ngIf="!traffic" id="traffic"  src="./assets/imgs/traffic_off.png">
          </button>
      </div>

      <div class="layer-buttons">
          <button (click)="satelliteLayer(false)">
              <img *ngIf="satellite"  id="traffic" src="./assets/imgs/satellite_e.png">
          </button>
      </div>
      <div class="layer-buttons">
          <button (click)="satelliteLayer(true)">
              <img  *ngIf="!satellite" id="traffic"  src="./assets/imgs/satellite_d.png">
          </button>
      </div>
  </div>
</ion-content>
