ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}

page-home {
    #map{
        height: 100%;
    }

    .traffic-buttons {
        display: block;
        position: absolute;
        top: 60px;
        right: 5px;
        text-align: right;

        button {
            display: inline-block;
            margin: 4px;
            background:rgba(0,0,0,0);
        }
    }

    .layer-buttons {
        display: block;
        position: absolute;
        top: 110px;
        right: 5px;
        text-align: right;

        button {
            display: inline-block;
            margin: 4px;
            background:rgba(0,0,0,0);
        }
    }

    #traffic {
        width: 35px;
        height: 35px;
        margin: 0 auto 0;
      }
}
