page-drawmap {
    .btn{
        float: right;
        background: transparent;
    } 

    .card-content-md {
        padding: 13px 16px;
        font-size: 1.4rem;
        line-height: 0.3;
    }
}
