<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--<div #drawmap id="drawmap"></div>-->
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col>Distance</ion-col><ion-col col>{{distance}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col>Maximum Speed</ion-col><ion-col col>{{maxSpeed}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col>Engine Hours</ion-col><ion-col col>{{engineHrs}}</ion-col>
    </ion-row> 
  </ion-grid>    
  </ion-card>
  <timeline endIcon="call">
    <timeline-item *ngFor="let item of items">
      <ion-card-content>{{item.startTime}}</ion-card-content>
      <ion-card-content>{{item.endTime}}</ion-card-content>
      <button class="btn" (click)='openMapModel(item.deviceId, item.startTime, item.endTime)' clear>
        <ion-icon name="map"></ion-icon>
    </button>
      <ion-card>
        <ion-card-content>
          <p>{{item.startAddress}}</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
      <ion-card-content>
          <p>{{item.endAddress}}</p>
		  </ion-card-content>
      </ion-card>
    </timeline-item>

  </timeline>
</ion-content>
