<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar  [(ngModel)]="searchDeviceString" showCancelButton="false" (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let p of search" (click)="gotoVehicle(p)">
      <ion-avatar item-start>
          <img *ngIf="p.status === 'online'" src="./assets/imgs/online_list.png">
          <img *ngIf="p.status === 'offline'" src="./assets/imgs/offline_list.png">
          <img *ngIf="p.status === 'unknown'" src="./assets/imgs/offline_list.png">
      </ion-avatar>
        <h2>{{p.name}}</h2>
        <p>{{p.status}}</p>
      </ion-item>
  </ion-list>
</ion-content>