<div class="alert-content">
<ion-header>
  <ion-toolbar style="min-height: 40px;">
    <ion-title>Select Time Period</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
          <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="guide-modal">
<div>
<form (ngSubmit)="show()" #pickerModal="ngForm">
  <ion-list radio-group name="timeperiod" [(ngModel)]="timeperiod">
    <ion-item>
      <ion-label>Today</ion-label>
      <ion-radio value="today"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Yesterday</ion-label>
      <ion-radio value="yesterday"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Custom</ion-label>
      <ion-radio value="custom"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Start Date time</ion-label>
    <ion-datetime displayFormat="DD-MMM-YY hh:mm A" name="start" [(ngModel)]="start"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>End Date time</ion-label>
    <ion-datetime displayFormat="DD-MMM-YY hh:mm A" name="end" [(ngModel)]="end"></ion-datetime>
  </ion-item>
<p></p>
<button ion-button round full type="submit" [disabled]="!pickerModal.form.valid">Show</button>
</form>
</div>
</ion-content>