page-pickerModal {
    .alert-content{
        position: relative;
        top: 15%;
        left: 10%;
        display: block;
        width: 80%;
        height: 65%;
        border: 1px solid grey;
    }
}
