ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}

page-selectedVehicle {
    #track{
        height: 70%;
    }

    ion-item{
        height: 0px;
    }

    ion-card{
        height: 30%;
    }
}
