<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div #track id="track"></div>
<ion-card>
    <ion-card-content> 
    <ion-item>
      <ion-icon name="locate" item-start medium></ion-icon>
      <h4>{{name}}</h4>
      <p>{{address}}</p>
    </ion-item>
  
    <ion-item>
      <ion-icon name="ios-speedometer-outline" item-left medium></ion-icon>
      <h4>{{motionStatus}}</h4>
    </ion-item>
  
    <ion-item>
      <span item-left><h4>{{lastUpdate | date : "dd-MM-yyyy hh:mm:ss"}}</h4></span>
      <button ion-button icon-left clear item-end (click)="openModal()">
        <ion-icon name="navigate"></ion-icon>
        Playback
      </button>
    </ion-item>
    </ion-card-content> 
  </ion-card>
</ion-content>
